@font-face {
  font-family: pp;
  src: url('../assets/fonts/PPEiko-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: tt;
  src: url('../assets/fonts/TTNorms-Regular.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: tt;
  color: #DBDBDB;
  background-color: #080808;
  min-height: 500vh;
  overflow-x: hidden;
}

h1 {
  font-weight: normal;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.cursor {
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  font-size: 1vw;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a0a0a;
  transition: transform .4s cubic-bezier(0.16, 1, 0.3, 1),opacity .6s cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  cursor: pointer;
}

.nav__logo {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.home__title {
  font-family: pp;
  max-width: 50vw;
  margin: 10rem auto;
  text-align: center;
  line-height: 46px;
}

.gallery {
  height: 60vh;
  position: relative;
  margin: 100px auto;
  padding-left: 100px;
}

.img__wrapper {
  position: absolute;
  top: 0;
  /* left: 0; */
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item1 {
  width: 312px;
  height: 450px;
}

.gallery__item2 {
  left: 460px;
  width: 352px;
  height: 240px;
  top: 20%;
}

.gallery__item3 {
  left: 862px;
  width: 300px;
  height: 340px;
  top: 10%;
}

.subtitle__wrapper {
  color: #DBDBDB;
  pointer-events: none;
}

.subtitle__name {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 10px;
  overflow: hidden;
}

.subtitle__name span,
.subtitle__description span {
  display: block;
  transition: all 0.8s cubic-bezier(0.061, 0.01, 0, 1);
  transform: translateY(110%);
  will-change: transform;
}

.subtitle__description span {
  /* transition-delay: 0.2s; */
}

.img__wrapper:hover .subtitle__name span,
.img__wrapper:hover .subtitle__description span {
  transform: translateY(0);
}

.subtitle__description {
  font-size: 0.8rem;
  margin-top: 5px;
  opacity: 0.5;
  overflow: hidden;
}

.controls {
  position: absolute;
  right: 10vw;
  transform-origin: right center;
  transform: scale(0.8);
  overflow: hidden;
}

.controls__close {
  top: 80px;
}

.controls__next {
  top: 125px;
}

.controls__prev {
  top: 172px;
}

.project__title {
  overflow: hidden;
  width: fit-content;
  height: 77px;
  position: relative;
  /* position: absolute; */
  top: 30vh;
  left: 18vw;
  font-size: 5rem;
  text-transform: uppercase;
}

.project__word {
  display: block;
}

.project__img {
  width: 80vw;
  height: 80vw;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: translateX(calc(10vw - 12px)) translateY(64vh);
}